In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# load saved data set
current_directory = os.path.abspath(".")
relative_path = "data/2019_AIS_assigend.csv"
full_file_path = os.path.join(current_directory, relative_path)
ais = pd.read_csv(full_file_path)

In [3]:
ais

,IMO,TIME,SOG,LONGITUDE,LATITUDE,E_CO2_kg,nearest_port,nearest_port_country,nearest_port_lon,nearest_port_lat
0,9762338,2019-02-15 07:00:00,18.080000,6.514613,53.863128,19910.666515,NaN,NaN,NaN,NaN
1,9632143,2019-10-16 04:00:00,19.000000,109.281667,9.013333,15908.133589,NaN,NaN,NaN,NaN
2,9619995,2019-11-30 19:00:00,17.800000,105.536183,3.286633,18996.828702,NaN,NaN,NaN,NaN
3,9632090,2019-11-02 04:00:00,18.166667,28.202400,33.084417,15992.137892,NaN,NaN,NaN,NaN
4,9632143,2019-12-29 14:00:00,10.669231,121.780000,38.746667,4136.355716,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
875995,9780445,2019-06-16 06:00:00,19.341667,100.445000,3.373333,31244.059442,NaN,NaN,NaN,NaN
875996,9783502,2019-02-22 10:00:00,10.836364,118.088333,38.930000,4980.821063,NaN,NaN,NaN,NaN
875997,9839466,2019-02-27 00:00:00,0.135019,128.570233,34.947090,1925.230500,NaN,NaN,NaN,NaN
875998,9778806,2019-01-11 04:00:00,21.800000,5.895000,54.158333,32498.403678,NaN,NaN,NaN,NaN
875999,9769300,2019-12-30 13:00:00,18.904762,90.531667,6.088333,20441.620727,NaN,NaN,NaN,NaN

In [4]:
# fill missing values with next available valid value
ais['next_nearest_port'] = ais.sort_values(by = 'TIME').groupby('IMO')['nearest_port'].fillna(method = 'bfill')

In [5]:
# shift next nearest port up by 1 
ais['next_nearest_port'] = ais.sort_values(by = 'TIME').groupby('IMO')['next_nearest_port'].shift(-1)

In [10]:
# do the same for country, longitude and latitude
ais['next_nearest_port_country'] = ais.sort_values(by = 'TIME').groupby('IMO')['nearest_port_country'].fillna(method = 'ffill')
ais['next_nearest_port_country'] = ais.sort_values(by = 'TIME').groupby('IMO')['next_nearest_port_country'].shift(-1)

ais['next_nearest_port_lon'] = ais.sort_values(by = 'TIME').groupby('IMO')['nearest_port_lon'].fillna(method = 'bfill')
ais['next_nearest_port_lon'] = ais.sort_values(by = 'TIME').groupby('IMO')['next_nearest_port_lon'].shift(-1)

ais['next_nearest_port_lat'] = ais.sort_values(by = 'TIME').groupby('IMO')['nearest_port_lat'].fillna(method = 'bfill')
ais['next_nearest_port_lat'] = ais.sort_values(by = 'TIME').groupby('IMO')['next_nearest_port_lat'].shift(-1)

In [11]:
ais

,IMO,TIME,SOG,LONGITUDE,LATITUDE,E_CO2_kg,nearest_port,nearest_port_country,nearest_port_lon,nearest_port_lat,next_nearest_port,next_nearest_port_country,next_nearest_port_lon,next_nearest_port_lat
0,9762338,2019-02-15 07:00:00,18.080000,6.514613,53.863128,19910.666515,NaN,NaN,NaN,NaN,goteborg container terminal,SWE,11.856275,57.688960
1,9632143,2019-10-16 04:00:00,19.000000,109.281667,9.013333,15908.133589,NaN,NaN,NaN,NaN,goteborg container terminal,SWE,11.856275,57.688960
2,9619995,2019-11-30 19:00:00,17.800000,105.536183,3.286633,18996.828702,NaN,NaN,NaN,NaN,tanjung pelepas,MYS,103.550000,1.350000
3,9632090,2019-11-02 04:00:00,18.166667,28.202400,33.084417,15992.137892,NaN,NaN,NaN,NaN,tanjung pelepas,MYS,103.550000,1.350000
4,9632143,2019-12-29 14:00:00,10.669231,121.780000,38.746667,4136.355716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875995,9780445,2019-06-16 06:00:00,19.341667,100.445000,3.373333,31244.059442,NaN,NaN,NaN,NaN,goteborg container terminal,SWE,11.856275,57.688960
875996,9783502,2019-02-22 10:00:00,10.836364,118.088333,38.930000,4980.821063,NaN,NaN,NaN,NaN,perama,GRC,23.586012,37.960369
875997,9839466,2019-02-27 00:00:00,0.135019,128.570233,34.947090,1925.230500,NaN,NaN,NaN,NaN,tanjung pelepas,MYS,103.550000,1.350000
875998,9778806,2019-01-11 04:00:00,21.800000,5.895000,54.158333,32498.403678,NaN,NaN,NaN,NaN,tanjung pelepas,MYS,103.550000,1.350000
875999,9769300,2019-12-30 13:00:00,18.904762,90.531667,6.088333,20441.620727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# since I am building a journey log, I will rename nearest_port now as start_port etc
ais.rename(columns={'nearest_port': 'start_port', 'nearest_port_country' : 'start_country', 'nearest_port_lon' : 'start_lon', 'nearest_port_lat' : 'start_lat', 'next_nearest_port': 'end_port', 'next_nearest_port_country' : 'end_country', 'next_nearest_port_lon' : 'end_lon', 'next_nearest_port_lat' : 'end_lat'}, inplace=True)

C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\1029396727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais.rename(columns={'nearest_port': 'start_port', 'nearest_port_country' : 'start_country', 'nearest_port_lon' : 'start_lon', 'nearest_port_lat' : 'start_lat', 'next_nearest_port': 'end_port', 'next_nearest_port_country' : 'end_country', 'next_nearest_port_lon' : 'end_lon', 'next_nearest_port_lat' : 'end_lat'}, inplace=True)

In [105]:
# now feed forward start port, country, lat and lon
ais['start_port'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_port'].fillna(method = 'ffill')
ais['start_country'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_country'].fillna(method = 'ffill')
ais['start_lon'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_lon'].fillna(method = 'ffill')
ais['start_lat'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_lat'].fillna(method = 'ffill')

C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\2798791473.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['start_port'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_port'].fillna(method = 'ffill')
C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\2798791473.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['start_country'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_country'].fillna(method = 'ffill')
C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\2798791473.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['start_lon'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_lon'].fillna(method = 'ffill')
C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\2798791473.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['start_lat'] = ais.sort_values(by = 'TIME').groupby('IMO')['start_lat'].fillna(method = 'ffill')

In [106]:
ais['route'] = ais.start_port + ' - ' + ais.end_port

C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\4097637025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['route'] = ais.start_port + ' - ' + ais.end_port

In [107]:
# feed route forward
ais['route'] = ais.sort_values(by = 'TIME').groupby('IMO')['route'].fillna(method = 'ffill')

C:\Users\tobia\AppData\Local\Temp\ipykernel_16660\2073205862.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ais['route'] = ais.sort_values(by = 'TIME').groupby('IMO')['route'].fillna(method = 'ffill')

In [108]:
# drop all columns that dont have a route - not necessary for the exercises here
ais = ais[ais['route'].notna()]

In [109]:
ais.sort_values(['IMO', 'TIME'], inplace=True)
# Create an incremental count column within each group
ais['incremental_count'] = ais.groupby('IMO')['route'].transform(lambda x: x.ne(x.shift()).cumsum() - 1)

In [110]:
ais[(ais['IMO'] == 9632131)].to_csv('test.csv')
# inspecting the csv - makes sense!

In [111]:
ais['TIME'] = pd.to_datetime(ais['TIME'])

In [112]:
ais

,IMO,TIME,SOG,LONGITUDE,LATITUDE,E_CO2_kg,start_port,start_country,start_lon,start_lat,end_port,end_country,end_lon,end_lat,route,incremental_count,incremental_count_2
855815,9619907,2019-02-15 02:00:00,11.100000,9.518383,53.652017,6797.161008,butzfleth,DEU,9.516667,53.65,mina jabal ali,ARE,55.05,25.016667,butzfleth - mina jabal ali,0,0
344030,9619907,2019-02-15 03:00:00,13.700000,9.506267,53.678617,8578.405151,butzfleth,DEU,9.516667,53.65,mina jabal ali,ARE,55.05,25.016667,butzfleth - mina jabal ali,0,0
361259,9619907,2019-02-15 04:00:00,12.400000,8.953283,53.848150,6845.931428,butzfleth,DEU,9.516667,53.65,mina jabal ali,ARE,55.05,25.016667,butzfleth - mina jabal ali,0,0
828093,9619907,2019-02-15 05:00:00,12.800000,8.689517,53.903967,7350.573409,butzfleth,DEU,9.516667,53.65,mina jabal ali,ARE,55.05,25.016667,butzfleth - mina jabal ali,0,0
23052,9619907,2019-02-15 06:00:00,14.200000,8.589933,53.962600,9313.870368,butzfleth,DEU,9.516667,53.65,mina jabal ali,ARE,55.05,25.016667,butzfleth - mina jabal ali,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172196,9839466,2019-12-31 19:00:00,11.777778,3.543333,53.213333,9901.818530,tanjung pelepas,MYS,103.550000,1.35,NaN,NaN,NaN,NaN,tanjung pelepas - tanjung pelepas,0,81
155427,9839466,2019-12-31 20:00:00,11.777778,3.543333,53.213333,9901.818530,tanjung pelepas,MYS,103.550000,1.35,NaN,NaN,NaN,NaN,tanjung pelepas - tanjung pelepas,0,81
660636,9839466,2019-12-31 21:00:00,11.777778,3.543333,53.213333,9901.818530,tanjung pelepas,MYS,103.550000,1.35,NaN,NaN,NaN,NaN,tanjung pelepas - tanjung pelepas,0,81
186171,9839466,2019-12-31 22:00:00,11.777778,3.543333,53.213333,9901.818530,tanjung pelepas,MYS,103.550000,1.35,NaN,NaN,NaN,NaN,tanjung pelepas - tanjung pelepas,0,81
301058,9839466,2019-12-31 23:00:00,11.777778,3.543333,53.213333,9901.818530,tanjung pelepas,MYS,103.550000,1.35,NaN,NaN,NaN,NaN,tanjung pelepas - tanjung pelepas,0,81

In [117]:
ais_journey_log = ais.groupby(['IMO', 'start_port', 'start_country', 'start_lon', 'start_lat', 'end_port', 'end_country', 'end_lon', 'end_lat', 'route', 'incremental_count']).agg({
    'E_CO2_kg': 'sum',
    'TIME'    : ['min', 'max'],
    'SOG'     : 'mean'
}).reset_index()

In [119]:
ais_journey_log.columns = ['IMO', 'start_port', 'start_country', 'start_lon', 'start_lat', 'end_port', 'end_country', 'end_lon', 'end_lat', 'route', 'aux', 'CO2_kg', 'start', 'end','av_speed']

In [120]:
ais_journey_log

,IMO,start_port,start_country,start_lon,start_lat,end_port,end_country,end_lon,end_lat,route,aux,CO2_kg,start,end,av_speed
0,9619907,butzfleth,DEU,9.516667,53.650000,mina jabal ali,ARE,55.050000,25.016667,butzfleth - mina jabal ali,0,7.827930e+06,2019-02-15 02:00:00,2019-03-13 09:00:00,11.486945
1,9619907,felixstowe,GBR,1.310523,51.953560,felixstowe,GBR,1.310523,51.953560,felixstowe - felixstowe,5,6.645076e+04,2019-06-15 21:00:00,2019-06-17 17:00:00,0.062222
2,9619907,felixstowe,GBR,1.310523,51.953560,hontenisse,NLD,4.089294,51.363098,felixstowe - hontenisse,6,1.552086e+05,2019-06-17 18:00:00,2019-06-19 20:00:00,2.752941
3,9619907,hontenisse,NLD,4.089294,51.363098,qingdao gang,CHN,120.266667,36.033333,hontenisse - qingdao gang,7,3.641323e+07,2019-06-19 21:00:00,2019-10-24 15:00:00,11.880806
4,9619907,mina jabal ali,ARE,55.050000,25.016667,mina jabal ali,ARE,55.050000,25.016667,mina jabal ali - mina jabal ali,1,7.130562e+04,2019-03-13 10:00:00,2019-03-15 08:00:00,0.066856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,9839454,port polnochny,POL,18.716667,54.400000,tanjung pelepas,MYS,103.550000,1.350000,port polnochny - tanjung pelepas,3,1.575378e+07,2019-11-11 07:00:00,2019-12-10 22:00:00,13.299088
1055,9839454,tanjung pelepas,MYS,103.550000,1.350000,algeciras,ESP,-5.417816,36.141293,tanjung pelepas - algeciras,1,1.332463e+07,2019-10-15 07:00:00,2019-10-31 13:00:00,17.531796
1056,9839454,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas - tanjung pelepas,0,5.092013e+04,2019-10-13 23:00:00,2019-10-15 06:00:00,0.000000
1057,9839454,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas - tanjung pelepas,4,6.205891e+04,2019-12-10 23:00:00,2019-12-12 13:00:00,0.000000
1058,9839466,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas,MYS,103.550000,1.350000,tanjung pelepas - tanjung pelepas,0,4.773762e+04,2019-12-08 11:00:00,2019-12-09 16:00:00,0.002381

In [121]:
ais_journey_log.to_csv('data/2010_AIS_journey_log.csv')